#d1{
    height:500px;
    width:100%;
    /* border:2px black ridge; */
    float: left;
    background-image:url(Images/Images/stars2.jpg);
    background-repeat: no-repeat;
    background-size:100% 500px;
    background-position:100%;
}
#dd1{
    height:200px;
    width:100%;
    /* border:2px black ridge; */
    float: left;
    background-color:rgba(300,300,300,0.3);
    backdrop-filter:blur(100%);
    margin-top:8%;   
 }
#h11{
    margin-left:37%;
    color:purple;
    font-family:"sofia",sans-serif;
    font-size:50px;
    margin-top:5%;
    text-shadow:10px 10px #f5f0f5;
  }
#d2{
   height:300px;
   width:100%;
   /* border:2px black ridge; */
   float: left;
   margin-top: 50px;
}
#h1{
    margin-left:30%;
    color:purple;
    font-family:"sofia",sans-serif;
    font-size:xx-large;
}
#h2{
    margin-left:40%;
    color:purple;
    font-family:"sofia",sans-serif;
    font-size:xx-large;
}
#p1{
    font-family:"sofia",sans-serif;
    margin:50px;
    margin-top:15px;
}
#d3{
    height:500px;
    width:40%;
    border:2px purple ridge;
    float: left;
    margin-left:10%;
    border-radius:20px 100px;
    margin-top:20px;
    border-style:dotted;
}
#d4{
    height:500px;
    width:40%;
    /* border:2px black ridge; */
    float: left;
    margin-left:10px;
    border-radius:20px 100px;
    background-image:url(Images/Images/stars3.jpg);
    background-repeat: no-repeat;
    background-size:100% 500px;
    margin-top:20px;
}   
#h3{
    margin-left:42%;
    color:purple;
    font-family:"sofia",sans-serif;
    font-size:xx-large;
}
#d5{
    height:700px;
    width:100%;
    /* border:2px black ridge; */
    float: left;
    margin-top:20px;
}
#d6{
    height:500px;
    width:40%;
    border:2px purple ridge;
    float: left;
    margin-left:10%;
    border-radius:20px 100px;
    margin-top:20px;
    border-style:dotted;
}
#d7{
    height:500px;
    width:40%;
    /* border:2px black ridge; */
    float: left;
    margin-left:10px;
    border-radius:20px 100px;
    background-image:url(Images/star\ clusters.jpg);
    background-repeat: no-repeat;
    background-size:100% 500px;
    margin-top:20px;
}  
#p2{
    margin:50px;
    font-family:"sofia",sans-serif;
}
#d8{
    height:700px;
    width:100%;
    /* border:2px black ridge; */
    float: left;
    margin-top:20px;
}
#d9{
    height:500px;
    width:40%;
    border:2px purple ridge;
    float: left;
    margin-left:10%;
    border-radius:20px 100px;
    margin-top:20px;
    border-style:dotted;
}
#d10{
    height:500px;
    width:40%;
    /* border:2px black ridge; */
    float: left;
    margin-left:10px;
    border-radius:20px 100px;
    background-image:url(Images/star\ death.jpg);
    background-repeat: no-repeat;
    background-size:100% 500px;
    margin-top:20px;
}  
#h4{
    margin-left:42%;
    color:purple;
    font-family:"sofia",sans-serif;
    font-size:xx-large;
}
#p3{
    margin:50px;
    font-family:"sofia",sans-serif;
}
#p4{
    margin-top:50px;
    font-size:x-large;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:10px;
    font-family:"sofia",sans-serif;
}
#div1-sec8 {
    width: 100%;
    height: 700px;
    border: rgb(0, 0, 0) ridge 4px;  
    background-color: black;
    margin-top: 2000px;
  }
  .div2-sec8 {
    width: 300px;
    height: 500px;
    border: rgb(0, 0, 0) none 4px;  
    float: left;
    margin-left: 40px;
    
  }
  .div3-sec8 {
    width: 300px;
    height: 500px;
    border: rgb(0, 0, 0) none 4px;  
    float: left;
    margin-left: 20px;
    /* margin-top: -80px; */
  }
  .div4-sec8 {
    width: 300px;
    height: 500px;
    border: rgb(0, 0, 0) none 4px;
    float: left;  
    margin-left: 20px;
    /* margin-top: -80px; */
  }
  .div5-sec8 {
    width: 300px;
    height: 500px;
    border: rgb(0, 0, 0) none 4px;  
    float: left;
    margin-left: 20px;
    /* margin-top: -80px; */
  }
  #foo {
    color: white;
    font-family: 'Sofia', cursive;
    font-size: 20px;
  }
  #foot {
    color: white;
    font-size: 40px;
  }
  #foote {
    color: white;
    font-size: 20px;
    font-family: 'Sofia', cursive;
  }
  #hr-sec-foo {
    color: grey;
    border: 1px solid grey;
    margin-top: 550px;
    width: 600px;
    margin-left: 380px;
  }
  
  #nav {
    background-color: black;
    height: 120px;
    /* opacity: 0,5 ; */
    /* margin-top: 100px; */
  }
  
  #navbar {
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: 'Lobster', cursive;
    font-size: 20px;
  }
  #navbar1 {
    color: white;
    margin-left: 150px;
    margin-top: 20px;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: 'Lobster', cursive;
    font-size: 20px;
  }
  #video1{
    height: 120px;
    width: 130px;
  margin-left: 50px;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px rgb(140, 46, 228), 0 0 30px #c000e6, 0 0 40px #b800e6, 0 0 50px #e600d3, 0 0 60px #d300e6, 0 0 70px #e600e6;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(140, 46, 228), 0 0 40px #9223d3, 0 0 50px #b84dff, 0 0 60px #f04dff, 0 0 70px #ea4dff, 0 0 80px #ff4dff;
    }
  }