*{
    margin: 0;
    padding: 0;
}
.d1 {
    height: 30%;
    width: 100%;
    border: rgba(107, 21, 71, 0.2) 1px solid;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    /* backdrop-co: ; */
    margin-top: 100px;
    margin-left: 300px;
}
 .h1{
font-size: 50px;
font-weight: 500;
margin-top: 25px;
color: rgb(59, 29, 44);
text-align: center;
font-family: 'Leckerli One', cursive;
animation: glow 1s ease-in-out infinite alternate;
}
#nav {
background-color: black;
/* width: 150px; */
height: 150px;
width: 100%;
/* border: 1px red ridge; */
/* margin-left: 10%; */

}

#navbar {
color: white;
margin-left: 20px;
margin-top: 10px;
animation: glow-nav 1s ease-in-out infinite alternate;
font-family: 'Lobster', cursive;
font-size: 20px;
}
#navbar1 {
color: white;
margin-left: 130px;
margin-top: 10px;
animation: glow-nav 1s ease-in-out infinite alternate;
font-family: 'Lobster', cursive;
font-size: 20px;
}
#video1{
height: auto;
width: 200px;
margin-left: 20px;

}
@-webkit-keyframes glow {
from {
text-shadow: 0 0 10px rgb(183, 170, 185), 0 0 20px rgb(191, 71, 196), 0 0 30px rgb(230, 89, 211), 0 0 40px #a519aa, 0 0 50px #a519aa, 0 0 60px #e60073, 0 0 70px #e60073;

text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #a519aa, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}
@-webkit-keyframes glow-nav {
from {
text-shadow: 0 0 10px #fff, 0 0 20px rgb(172, 52, 142), 0 0 30px #b000e6, 0 0 40px #a500e6f1, 0 0 50px #b800e6, 0 0 60px #7f00e6, 0 0 70px #9200e6;
}
to {
text-shadow: 0 0 20px #fff, 0 0 30px #b84dff, 0 0 40px #db4dff, 0 0 50px #d54dff, 0 0 60px #e14dff, 0 0 70px #be4dff, 0 0 80px #ff4dff;
}
}


.main{
    background-image: url("ezgif.com-gif-maker.png");
    background-repeat: no-repeat;
    /* background-position: 100% 100%; */
    background-size: 100% auto;
  
}
.text {
    font-size: 40px;
}

    #text {
        animation: glow-nav  1s ease-in-out infinite alternate;
        font-family: 'Lobster', cursive;
font-size: 45px;
color: #ffffff;
    }
    #div1-sec8 {
        width: 100%;
        height: 700px;
        border: rgb(0, 0, 0) ridge 4px;  
        background-color: black;
        /* margin-top: 500px; */
      }
      .div2-sec8 {
        width: 300px;
        height: 500px;
        border: rgb(0, 0, 0) none 4px;  
        float: left;
        margin-left: 40px;
        
      }
      .div3-sec8 {
        width: 300px;
        height: 500px;
        border: rgb(0, 0, 0) none 4px;  
        float: left;
        margin-left: 20px;
        /* margin-top: -80px; */
      }
      .div4-sec8 {
        width: 300px;
        height: 500px;
        border: rgb(0, 0, 0) none 4px;
        float: left;  
        margin-left: 20px;
        /* margin-top: -80px; */
      }
      .div5-sec8 {
        width: 300px;
        height: 500px;
        border: rgb(0, 0, 0) none 4px;  
        float: left;
        margin-left: 20px;
        /* margin-top: -80px; */
      }
      #foo {
        color: white;
        font-family: 'Sofia', cursive;
        font-size: 20px;
      }
      #foot {
        color: white;
        font-size: 40px;
      }
      #foote {
        color: white;
        font-size: 20px;
        font-family: 'Sofia', cursive;
      }
      #hr-sec-foo {
        color: grey;
        border: 1px solid grey;
        margin-top: 550px;
        width: 600px;
        margin-left: 380px;
      }
      